
.sidebar {
    height: 90%;
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 50px;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
}
  
  .sidebar a, h4 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 200px; 
    padding: 20px 30px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }